@import url(fonts.css);

body {
    margin: 0;
    background-color: #FFF3E6;
}

#titulo {
    background-image: url(../images/fofos.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
}

#luamel {
    background-color: #FFE5BC;
}

#informacao {
    background-color: #FFD99B;
}

#contactos {
    background-color: #FFC971;
}

img {
    border-radius: 10px;
}

.wrapper {
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    gap: 50px;
}

.container-sym img {
    max-height: 500px;
    max-width: 50%;
    object-fit: contain;
}

.navbar {
    justify-content: space-between;
    padding: 20px 0;
}

.navbar img {
    width: 60px;
}

.horizontal-list {
    padding: 0;
}

.horizontal-list li {
    display: inline-block;
    padding-left: 40px;
}

.sub-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-container img {
    max-width: 100%;
}

.sub-container-left {
    width: 30%;
}

.sub-container-asym {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.sub-container-asym img {
    max-height: 500px;
}

.btn {
    align-self: center;
    text-align: center;
    background-color: #FF9505;
    color: #FFF3E6;
    width: 150px;
    padding: 0.5em;
    margin: 30px;
    border-radius: 50px;
}

.btn:hover {
    background-color: #E2711D;
    color: #FFF3E6;
}

footer {
    text-align: center;
    padding: 50px 0;
} 