@import url(fonts.css);

body {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto 100px auto;
    display: flex;
    gap: 50px;
}

.container img {
    max-height: 500px;
    max-width: 50%;
}

.navbar {
    justify-content: space-between;
    padding: 20px 0;
}

.navbar img {
    width: 60px;
}

.horizontal-list {
    padding: 0;
}

.horizontal-list li {
    display: inline-block;
    padding-left: 40px;
}

.sub-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner {
    background-image: url("../images/douro.png");
    background-size: cover;
    min-height: 500px;
}