@import url(fonts.css);

body {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto 100px auto;
    display: flex;
    gap: 50px;
}

.container img {
    max-height: 500px;
    max-width: 50%;
    object-fit: contain;
}

.navbar {
    justify-content: space-between;
    padding: 20px 0;
}

.navbar img {
    width: 60px;
}

.horizontal-list {
    padding: 0;
}

.horizontal-list li {
    display: inline-block;
    padding-left: 40px;
}

.sub-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery img {
    max-width: 30%;
}

#luamel {
    margin-bottom: 50px;
}

.btn {
    align-self: center;
    text-align: center;
    border: 2px solid #182E51;
    background-color: #fff;
    color: #182E51;
    width: 150px;
    padding: 0.5em;
    margin: 30px;
}

.btn:hover {
    background-color: #182E51;
    color: #fff;
}

footer h2 {
    text-align: left;
} 